/* src/pages/ForgotDetails.css */
.forgot-details-container {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.forgot-details-container h1 {
  margin-bottom: 20px;
}

.forgot-details-container input {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
}

.forgot-details-container button {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  background-color: #4caf50;
  color: white;
  transition: background-color 0.3s ease;
}

.forgot-details-container button:hover {
  background-color: #45a049;
}

.error {
  color: red;
}
